@{
    ViewBag.Title = "Onama";
    Layout = null;
}


<!DOCTYPE html>
<html>
 <body>
     <p><p></p></p>
     <p>

        Nešto o ordinaciji
    </p>

    <p>
        Kontakt <br />
       <div> Telefon: +387 63235 535</div>
        <div>Email: euromedical@@medical.ba</div>
    </p>
  
 </body>
</html>