@{
    ViewBag.Title = "Naslovna strana";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <p>
                <img src="~/Images/logo.jpg" />
            </p>
        </div>
    </section>
}

<ol class="round">
    <li class="one">
        
        
    </li>

    <li class="two">
        
    </li>

    <li class="three">
        
    </li>
</ol>
