@{
    Layout = "~/Views/Shared/LayoutKorisnik.cshtml";
}

<!DOCTYPE html>
<html>
<head>

    <title>Pregled termina</title>
    <style>
        body
        {
            background-color:#eee;
        }
    </style>
  <p><b>  @Html.ActionLink("Nazad", "HomePage", "Korisnik") </b></p>
</head>
<body>
    <div style="height:700px;width:900px;margin:0 auto">
       
         @Html.Raw(Model.Render())
       

    </div>
</body>
</html>
